@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, BlinkMacSystemFont, "Inter", sans-serif;
  color: white;
  background: #050b1a; /* holo dark space */
}
